a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    width:fit-content;
    height: fit-content;
    z-index: 99;
}
mat-sidenav-container{
    height: 50%;
    min-height: 170px;
}
body{
    height: 100%;
}
sidenav-content{
    min-height: 400px;
    height: 20%;
}
.side{
    height: 45%;
}
